<a href="https://colab.research.google.com/github/george-zakharov/ml-random/blob/master/Time_series_EEG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load libs

In [3]:
import requests

import numpy as np
import pandas as pd
from scipy.io.arff import loadarff

# Parse data

In [4]:
page = requests.get("https://archive.ics.uci.edu/ml/machine-learning-databases/00264/EEG%20Eye%20State.arff", allow_redirects=True)

if page.status_code != 200:
  print('Source is not available')
else:
  print('Page loaded')

Page loaded

In [8]:
temp_file = 'data.arff'
with open(temp_file, 'wb') as f:
  f.write(page.content)

In [9]:
raw_data = loadarff(temp_file)
df_data = pd.DataFrame(raw_data[0])

In [10]:
df_data

           AF3       F7       F3  ...       F8      AF4  eyeDetection
0      4329.23  4009.23  4289.23  ...  4635.90  4393.85          b'0'
1      4324.62  4004.62  4293.85  ...  4632.82  4384.10          b'0'
2      4327.69  4006.67  4295.38  ...  4628.72  4389.23          b'0'
3      4328.72  4011.79  4296.41  ...  4632.31  4396.41          b'0'
4      4326.15  4011.79  4292.31  ...  4632.82  4398.46          b'0'
...        ...      ...      ...  ...      ...      ...           ...
14975  4281.03  3990.26  4245.64  ...  4593.33  4340.51          b'1'
14976  4276.92  3991.79  4245.13  ...  4590.26  4333.33          b'1'
14977  4277.44  3990.77  4246.67  ...  4591.79  4339.49          b'1'
14978  4284.62  3991.79  4251.28  ...  4596.41  4350.77          b'1'
14979  4287.69  3997.44  4260.00  ...  4597.95  4350.77          b'1'

[14980 rows x 15 columns]